.header {
    border: 10px double rgba(143, 139, 139, 0.747);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: linear-gradient(to top, rgba(83, 25, 80, 0.85) 25%, rgba(24, 112, 100, 0) 50%, rgba(189, 24, 24, 0.85) 75%);
    color: white;
    gap: clamp(1rem, 30%, 80rem);
}

.header-title {
    flex: 1;
    margin-left: 3%;
}

.nav_links {
    flex: 2;
    display: flex;
    align-items: center;
    text-align: center;
    gap: clamp(1rem, 10%, 30rem);
}

.header-link {
    font-size: 1.5rem;
}

.link-home {
    flex: 1;
}

.link-about {
    flex: 2;
}

.link-menu {
    flex: 2;
}

body {
    background-color: #121212;
    color: white;
}

h1 {
    font-size: clamp(1rem, 4.5vw, 4rem);
    flex: 1;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

a:hover {
    font-size: clamp(1rem, 2.5vw, 3rem);
}

#waitress-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(1rem, 50%, 100%);
    height: clamp(1rem, 40%, 20rem);
    border-radius: 5%;
    margin-top: 3%;
}

#tut-desc {
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.signup_container {
    font-size: clamp(1rem, 1vw, 4rem);
    padding-bottom: clamp(1rem, 1%, 3rem);
    text-align: center;
}

.apply-here {
    max-width: 30%;
}

#signup-btn {
    font-size: clamp(1rem, 1vw, 4rem);
    text-align: center;
}

footer {
    border: 10px double rgba(143, 139, 139, 0.747);
    font-size: clamp(1rem, 1vw, 4rem);
    display: flex;
    flex-direction: row;
    padding-left: clamp(1rem, 5vw, 10rem);
    padding-right: clamp(1rem, 1vw, 4rem);
    gap: clamp(1rem, 20%, 40rem);
    text-align: center;
    background: linear-gradient(to top, rgba(189, 24, 24, 0.85) 25%, rgba(24, 112, 100, 0) 50%, rgba(83, 25, 80, 0.85)75%);
}

#socials-logo {
    width: clamp(0.5rem, 12vw, 25rem);
}