
.header {
    border: 10px double rgba(143, 139, 139, 0.747);
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background: linear-gradient(to top, rgba(83, 25, 80, 0.85) 25%, rgba(24, 112, 100, 0) 50%, rgba(189, 24, 24, 0.85) 75%);
    color: white;
    gap: clamp(1rem, 25%, 80rem);
}

.header-title {
    flex: 1;
    margin-left: 3%;
}

.nav_links {
    flex: 2;
    display: flex;
    align-items: center;
    text-align: center;
    gap: clamp(1rem, 10%, 30rem);
}

.header-link {
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.link-home {
    flex: 1;
}

.link-about {
    flex: 2;
}

.link-menu {
    flex: 2;
}

body {
    background-color: #121212;
    color: white;
}

h1 {
    font-size: clamp(1rem, 4.5vw, 4rem);
    flex: 1;
    cursor: default;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

a:hover {
    font-size: clamp(1rem, 3vw, 3rem);
}

.hero-img_container {
    margin-left: 5%;
    margin-right: 5%;
}

.hero-img {
    max-width: 100%;
    text-align: center;
    margin-top: clamp(0.5rem, 0.5vw, 2rem);
}

#hero-image {
    width: 80%;
}

.overlay-text_container {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.85) 100%);
    position: relative;
    max-width: 80%;
    margin-left: 10%;
    bottom: 7.5em;
    text-align: center;
}

#overlay-text {
    position: inherit;
    font-size: clamp(1rem, 3vw, 2.5rem);
    color: white;
}

.wrapped_container {
    border: 3px solid rgba(143, 139, 139, 0.747);
    margin-top: 50px;
}

#wrapped-img {
    width: clamp(5rem, 15vw, 80rem);
    float: left;
}

#wrapped-text {
    text-align: justify;
    font-size: clamp(1rem, 1.3vw, 3rem);
}

p {
    padding: 1%;
}

.right-aligned_container {
    border: 3px solid rgba(143, 139, 139, 0.747);
    margin-top: 50px;
    display: flex;
    flex-basis: 50%;
}

#right-aligned-img {
    width: clamp(5rem, 15vw, 80rem);
    flex: 2;
    padding-right: clamp(1rem, 5%, 5rem);
    padding-top: clamp(1rem, 20%, 5rem);
}

#right-aligned-text {
    flex: 1;
    font-size: clamp(1rem, 1.3vw, 3rem);
    max-width: 90%;
}

#quote {
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: 1%;
    padding: 0%;
    font-size: clamp(1rem, 1.3vw, 3rem);
}

#disclaimer {
    font-size: clamp(0.001rem, 0.5vw, 5rem);
}

.left-aligned_container {
    border: 3px solid rgba(143, 139, 139, 0.747);
    margin-top: 50px;
    /* background-color: rgba(204, 74, 74, 0.397); */
}

.left-aligned_flex {
    display: flex;
    flex-basis: 50%;
}

#left-aligned-img {
    width: clamp(5rem, 15vw, 80rem);
    flex: 1;
    padding-left: clamp(1rem, 2%, 5rem);
    padding-top: clamp(1rem, 20%, 5rem);
}

#left-aligned-text {
    flex: 2;
    font-size: clamp(1rem, 1.3vw, 4rem);
}

.signup_container {
    font-size: clamp(1rem, 1vw, 4rem);
    padding-bottom: clamp(1rem, 1%, 3rem);
    text-align: center;
}

.apply-here {
    max-width: 30%;
}

input {
    width: clamp(1rem, 8vw, 10rem);
    height: clamp(1rem, 2vh, 10rem);
    font-size: clamp(1rem, 1vw, 2rem);
}

#signup-btn {
    font-size: clamp(1rem, 1vw, 4rem);
    text-align: center;
}

footer {
    border: 10px double rgba(143, 139, 139, 0.747);
    font-size: clamp(1rem, 1vw, 4rem);
    display: flex;
    flex-direction: row;
    padding-left: clamp(1rem, 5vw, 10rem);
    padding-right: clamp(1rem, 1vw, 4rem);
    gap: clamp(1rem, 20%, 40rem);
    text-align: center;
    background: linear-gradient(to top, rgba(189, 24, 24, 0.85) 25%, rgba(24, 112, 100, 0) 50%, rgba(83, 25, 80, 0.85)75%);
}

#socials-logo {
    width: clamp(0.5rem, 12vw, 25rem);
}